// Color pallet variables
$primary-color: #221E22;
$secondairy-color: #4A454A;
$primary-text-color: #EBEBEB;
$primary-highlight-color: #92F2B5;
$primary-accent-color: #48D4CA;

// Font variables
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Dancing+Script&family=Montserrat+Alternates:ital,wght@0,100;0,300;0,700;0,800;1,200;1,300;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');
$default-font: 'Arimo', sans-serif;
$nav-font: 'Oswald', sans-serif;
$decorative-font: 'Dancing Script', 'cursive';
$secondairy-font: 'Montserrat Alternates', sans-serif;